In [1]:
# http://archive.ics.uci.edu/ml/datasets/Heart+failure+clinical+records
# compare algorithms

# pca, kmeans (if more time spectral clustering, gaussians)
#Goals for Friday:
  #Have PCA in Google Colab
  #Have Kmeans in Colab
  #Have Dataset in Colab

In [2]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

## Data Import & Cleaning

In [3]:
heart_df = pd.read_csv('heart_failure_clinical_records_dataset.csv')
heart_df = heart_df.rename(columns={'DEATH_EVENT':'death_event'})
heart_df.head()
# 2 clusters to predict death maybe?

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,death_event
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [4]:
# Check for NaN values:
if heart_df.isnull().values.any():
    print('NaN values found.')

# Check for proper one-hot encoding of categorical variables:
cat_var_list = ['anaemia','diabetes','high_blood_pressure','sex','smoking','death_event']
for cat_var in cat_var_list:
    if heart_df[cat_var].nunique() != 2:
        print(cat_var)

# There is no na rows so no need for rigorous data cleaning
heart_df[heart_df.isna().any(axis=1)]

Empty DataFrame
Columns: [age, anaemia, creatinine_phosphokinase, diabetes, ejection_fraction, high_blood_pressure, platelets, serum_creatinine, serum_sodium, sex, smoking, time, death_event]
Index: []

## K-means

## PCA

## Spectral Clustering